fastapi==0.129.0
uvicorn==0.41.0
numpy==2.2.6
scikit-learn==1.7.2
joblib==1.5.3
tensorflow==2.20.0
pydantic==2.12.5
starlette==0.52.1
typing-extensions==4.15.0
h5py==3.15.1
protobuf==6.33.5
grpcio==1.78.0
absl-py==2.4.0
astunparse==1.6.3
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
libclang==18.1.1
ml-dtypes==0.5.4
opt-einsum==3.4.0
packaging==26.0
requests==2.32.5
six==1.17.0
termcolor==3.3.0
wrapt==2.1.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
werkzeug==3.1.5
scipy==1.15.3
threadpoolctl==3.6.0